* {
  box-sizing: border-box;
}

.row {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-1, .col-2, .col-2-5, .col-3, .col-4, .col-4-5, .col-5, .col-5-5, .col-6, .col-7, .col-8, .col-9, .col-12 {
  float: left;
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

/* Mobile defaults */
.col-1, .col-3, .col-4, .col-4-5, .col-5, .col-6, .col-7, .col-8, .col-9, .col-12 {
  width: 100%;
}

.col-2-5, .col-2 {
  width: 40%;
}

.col-5-5 {
  width: 60%;
}


/* Non-mobile, grid */
@media only screen and (min-width: 640px) {
  /* 1 column */
  .col-1 {
    width: 8.33%;
  }

  /* 2 columns */
  .col-2 {
    width: 16.66%;
  }

  /* 2.5 columns */
  .col-2-5 {
    width: 20.83%;
  }

  /* 3 columns */
  .col-3 {
    width: 25%;
  }

  /* 4 columns */
  .col-4 {
    width: 33.33%;
  }

  /* 4.5 columns */
  .col-4-5 {
    width: 37.5%;
  }

  /* 5 columns */
  .col-5 {
    width: 41.66%;
  }

  /* 5.5 colums */
  .col-5-5 {
    width: 45.83%;
  }

  /* 6 columns */
  .col-6 {
    width: 50%;
  }

  /* 7 columns */

  .col-7 {
    width: 58.33%;
  }

  /* 8 columns */
  .col-8 {
    width: 66.67%;
  }

  /* 9 columns */
  .col-9 {
    width: 75%;
  }

  /* 12 columns */
  .col-12 {
    width: 100%;
  }
}
