body {
	color: white;
	background-color: #330b0b;
}

h1 {
	font-family: 'Bowlby One SC', cursive;
	font-size: 40px;
}

.home-screen, header {
	max-width: 600px;
  	margin: 0 auto;
  	text-align: center;
}

.home-screen .js-search-form input {
	margin-bottom: 20px;
}

.character-screen .js-search-form input {
	margin-bottom: 10px;
}

.hidden {
	display: none;
}

.toon-image {
	height: 500px;
	background-position: center;
	background-size: cover;
	margin-top: 15px;
}

.toon-stats {
	vertical-align: top;
}

section {
	padding: 10px;
}

.gear-list, .talent-list {
	list-style-type: none;
	padding: 0;
	font-size: 14px;
}

.gear-list h4 {
	text-transform: capitalize;
	font-size: 18px;
	margin: 15px 0;
}

.gear-list li {
	padding-bottom: 15px;
	margin: 10px 0;
	background-color: black;
	color: white;
}

.talent-list p {
	margin-top: 0;
}

.talent-list img {
	margin-top: 15px;
	float:left;
	margin-right: 10px;
}

.talent-list h3 {
	margin-bottom: 0;
	margin-top: 16px;
	text-transform: capitalize;
}

.talent-list h2 {
	margin-bottom: 0;
}

.talent-list li {
	margin: 0;
	padding: 0;
	background-color: #330b0b;
	color: white;
}

.talent-list li .row {
	clear: both;
}

.top-rows {
	text-align: center;
}

.js-search-form button {
	margin-bottom: 15px;
	background-color: #591a1a;
	color: white;
	font-weight: bold;
	border: 1px solid black;
	padding: 5px 10px;
	cursor: pointer;
}

.home-screen button {
	padding: 10px 15px;
	font-size: 20px;
}

.character-screen .top-rows button {
	margin-left: 5px;
}

/***** Item Quality Borders *****/

.poor {
	border: 5px solid #9d9d9d;
}

.poor .item-name-color {
 	color: #9d9d9d;
 }

.common {
	border: 5px solid #ffffff;
}

.common .item-name-color {
 	color: #ffffff;
 }

.uncommon {
	border: 5px solid #1eff00;
}

.uncommon .item-name-color {
	color: #1eff00;
}

.rare {
	border: 5px solid #0070dd;
}

.rare .item-name-color {
	color: #0070dd;
}

.epic {
	border: 5px solid #a335ee;
}

.epic .item-name-color {
	color: #a335ee;
}

.legendary {
	border: 5px solid #ff8000;
}

.legendary .item-name-color {
	color: #ff8000;
}

.artifact, .heirloom {
	border: 5px solid #e6cc80;
}

.artifact .item-name-color, .heirloom .item-name-color {
	color: #e6cc80;
}

.wow-token {
	border: 5px solid #00ccff;	
}

.wow-token .item-name-color {
	color: #00ccff;
}

.item-name-color {
	font-weight: bold;
	font-size: 16px;
}

/***** Accordion *****/

button.accordion {
    background-color: #591a1a;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border-top: 1px solid #330b0b;
    border-bottom: 1px solid #330b0b;
    border-left: none;
    border-right: none;
    outline: none;
    transition: 0.4s;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

button.accordion.active, button.accordion:hover {
    background-color: #511010;
}

div.panel {
    padding: 0 18px;
    display: none;
    border: none;
}

/***** Talent Buttons *****/

.btn-group {
	width: 100%;
}

.button {
	width: 100%;
}

.btn-group .button {
    background-color: #591a1a;
    border: 1px solid #330b0b;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;
}
.btn-group .button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}
.btn-group .button:hover {
    background-color: #511010;
}

.button img {
	float: left;
}

.button h3 {
	margin: 0;
}

.button p {
	margin: 0;
	font-size: 12px;
}

/***** Styling for profile image scroller *****/

.scrolling {
    position: fixed;
    top: 20px;
}

/***** Styling for Autocomplete List *****/

.realm-container, .realm-container-again {
	display: block; 
    position: relative;
}

.realm-container-again .ui-autocomplete {
	left: 75px;
}

.realm-container .ui-autocomplete {
	left: 98px;
}

.realm-container .ui-autocomplete, .realm-container-again .ui-autocomplete {
    position: absolute;
    border: 1px solid black;
    background-color: white;
    list-style: none;
    padding: 0;
    top: 8px;
    cursor: pointer;
    z-index: 999;
    color: black;
}

.ui-menu-item:hover {
	cursor: pointer;
	background-color: #4286f4;
}

.ui-helper-hidden-accessible {
	display: none;
}

/***** Gear Copy Coloring *****/

.green-font {
	color: #1eff00;
}

.gold-font {
	color: #ffd100;
}

@media only screen and (min-width: 640px) {
	.button {
		width: 50%;
	}

	.toon-image {
		width: 400px;
		margin-top: 0;
	}

	.top-rows {
		text-align: left;
	}

	.realm-container .ui-autocomplete {
		left: 218px;
	}

	.realm-container-again .ui-autocomplete {
		left: 55px;
	}
}